In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [4]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'# 'https://end.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(url)

In [24]:
#Create a data frame using results tables
df = pd.DataFrame(tables[0])
df.drop(0)
#Create another data frame by removeing rows where Borough is 'Not Assigned'
df1 =df[df.Borough !='Not assigned']
df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [16]:
#Group same postal code neighbourhood for all Boroughs
df2 = df1.groupby("Postcode").agg(lambda x:','.join(set(x)))
df2.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Morningside,Guildwood,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [22]:
#Replace Neighbourhood has a value 'NotAssigned' with Borough value
df2.loc[df2['Neighbourhood']=="Not assigned",'Neighbourhood']=df2.loc[df2['Neighbourhood']=="Not assigned",'Borough']
df2.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Morningside,Guildwood,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [23]:
df2.shape

(103, 2)